@import "~bootstrap/scss/bootstrap";
@import "partials/variables";
@import "Apartments/IndexApartments.scss";
@import "Apartments/ShowApartments.scss";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }

    .main-home {
        background-image: url(../../public/img/background-home.jpg);
        background-position: center;
        background-size: cover;
        height: calc(100vh - 156px);
    }

    .main-index {
        background-image: url(../../public/img/background-index.jpg);
        background-position: center;
        background-size: cover;
        height: calc(100vh - 156px);
    }

    .main-sponsor {
        background-image: url(../../public/img/background-index.jpg);
        background-position: center;
        background-size: cover;
        height: calc(100vh - 156px);

        .semi-trasp-spons {
            background-color: rgba($color: #000000, $alpha: 0.6);
            border-radius: 25px;
            padding: 30px;
        }
    }
}

.image-cover {
    position: relative;

    .image-trash {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}
