@import "~bootstrap/scss/bootstrap";
@import "partials/variables";
@import "Apartments/IndexApartments.scss";
@import "Apartments/ShowApartments.scss";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

.image-cover {
    position: relative;

    .image-trash {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}
